* {
  font-family: Arial, Helvetica, sans-serif;
  color: #8a8a8a;
}

input {
  &:focus {
    outline: none;
  }
}

.container {
  min-height: 100vh !important;
}

.red-11 {
  color: #ff3333;
}

h2 {
  text-align: left;
  color: #666666;
  font-weight: bold;
  font-size: 1.3em;
  &:before {
    content: "";
    border-right: 3px solid #1bbc9b;
    margin-right: 5px;
  }
}

.ant-pagination-disabled {
  display: none !important;
}

//Loading Spinner
.loading_spin {
  width: 25px;
  height: 25px;
  background: url('./images/loading_spinner.svg') center no-repeat;
  background-size: 90px;
}